{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-runtime",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }] // `style: true` for less
  ],
  "env": {
    "development": { "plugins": ["transform-es2015-modules-commonjs"] },
    "test": { "plugins": ["transform-es2015-modules-commonjs"] }
  }
}
